html {
  box-sizing: border-box;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

main.login {
  text-align: center;
  margin: 30px;
}

.sign-up {
  text-align: center;
  margin: 30px;
}

main.login h1 {
  margin-bottom: 20px;
}

.sign-up h1 {
  margin-top: 30px;
  margin-bottom: 20px;
}

h1.member {
  text-align: center;
  margin: 30px;
}

main.login h2,
.sign-up h2 {
  margin-bottom: 15px;
}

.member-confirmed,
.member-unconfirmed {
  margin: 30px;
}

.member-confirmed h2,
.member-unconfirmed h2 {
  margin-bottom: 20px;
  text-align: center;
}

.create-post,
.logout {
  text-align: center;
}

section.messages {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 30px;
}

section.messages article {
  padding: 20px;
  border: 1px solid #13315c;
  border-radius: 5px;
}

section.messages article p,
section.messages article button {
  margin-top: 10px;
}

main.login div,
.sign-up div.not-radio {
  margin-bottom: 10px;
}

main.login input,
.sign-up input {
  padding: 1.5px;
}

button {
  font-weight: 600;
  padding: 5px;
  cursor: pointer;
}

.sign-up button {
  margin-bottom: 10px;
}

div.delete-all {
  text-align: center;
  margin: 20px;
}

fieldset {
  border: none;
  margin-bottom: 10px;
}

fieldset label {
  margin-left: 5px;
}

footer {
  text-align: center;
  margin: 30px;
}
