html {
  box-sizing: border-box;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

main.login {
  text-align: center;
  margin: 30px;
}

.sign-up {
  text-align: center;
  margin: 30px;
}

main.login h1 {
  margin-bottom: 20px;
}

.sign-up h1 {
  margin-top: 30px;
  margin-bottom: 20px;
}

main.login h2,
.sign-up h2 {
  margin-bottom: 15px;
}

main.login div,
.sign-up div.not-radio {
  margin-bottom: 10px;
}

main.login input, .sign-up input {
  padding: 1.5px;
}

main.login button,
.sign-up button {
  font-weight: 600;
  padding: 5px;
  cursor: pointer;
}

.sign-up button {
  margin-bottom: 10px;
}

fieldset {
  border: none;
  margin-bottom: 10px;
}

fieldset label {
  margin-left: 5px;
}

footer {
  text-align: center;
}

.sign-up footer {
  margin-top: 20px;
}
